/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2015, 8:00:26 PM
    Author     : petrero
*/

@import 'config';
@import 'normalize';
@import 'foundation';

[data-clearing] li {margin-right: 0;}

#header,
#main {
  @include grid-row();
}

.welcome-box {
  @include grid-column(12);
}


.top-image {
  @include grid-column(12);
}

.top-banner {
  @include grid-column(12);
}

#top-bar {
  @extend .hide-for-medium-up;
}

#desktop-top-bar {
  @extend .hide-for-small-only;
}

.services {
  @include grid-row;
}

.services.navigation {
  @include grid-column(3);
  @extend .hide-for-small;
}

.services.navigation.list {
  @include side-nav;
}

.services.content {
  @include grid-column(12);
}

.services.pricing-table {
  @include grid-column(
    $columns: 12,
    $collapse: true 
  );
}

.services.corporate {
  @include accordion-container;
  
  .services.corporate.title {
    @include accordion-navigation;
  }
  
  .services.corporate.content {
    @include accordion-content;
  }
}

.deal {
  @include panel($bg: orange);
}

.contacts {
  @include grid-row;
}

.contact.form.line {
  @include grid-row;
  
  .mail-label {
    @include prefix-postfix-base;
    @include prefix;
    @include grid-column(3);
  }
  
  .mail-field {
    @include grid-column(9);
  }
  
  .type-label {
    @include prefix-postfix-base;
    @include prefix;
    @include grid-column(3);
  }
  
  .type-select {
    @include grid-column(9);
  }
}

.contact.form.line .mail {
  @include grid-column(8);
}

.survey.yes,
.survey.no {
  @include switch;
}

.contact.form.line .type {
  @include grid-column(4);
}

.contact.form.line .message {
  @include grid-column(12);
}

.contact.form.line .submit {
  @include grid-column(12);
}

.about {
  @include grid-row;
}

.about.menu {
  @include button-group-container;
  @include grid-row;
  
  &>li {
    @include button-group-style($even: 3);
    
    a {
      @include button($full-width: true);
    }
  }
}

.breadcrumbs {
  @include grid-row;
}

#portrait,
#landscape,
#still {
  @include grid-row;
}

.portfolio.thumbnail {
  @include grid-column(12);
  @include thumb;
  img {
    min-width: 100%;
  }
}

.grid.gallery {
  @include block-grid(1);
}

.grid.gallery li a {
  @include thumb;
}

.videobox {
  @include flex-video-container;
}


@media #{$medium-up} {
  
  .top-image {
    @include grid-column(6);
  }
  
  .services.content {
    @include grid-column(9);
  }
  
  .portfolio.thumbnail {
    @include grid-column(6);
  }
  
  .grid.gallery {
    @include block-grid(2);
  }
}

@media #{$large-up} {
  .top-image {
    @include grid-column(3);
  }
  
  .services.pricing-table {  
    @include grid-column(
       $columns: 4,
       $collapse: true
    )
  }
  
  .portfolio.thumbnail {
    @include grid-column(3);
  }
  
  .grid.gallery {
      @include block-grid(3);
    }

}