/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2015, 8:00:26 PM
    Author     : petrero
*/

@import 'config';
@import 'normalize';
@import 'foundation';


body {
    background-color: #222;
  }
  
  #welcome {
    color: #FAFAFA;
  }


#header,
#main {
  @include grid-row();
}

.welcome-box {
  @include grid-column(12);
}


.top-image {
  @include grid-column(12);
}

.top-banner {
  @include grid-column(12);
}

@media #{$medium-up} {
  body {
    background-color: #fafafa;
  }
  
  #welcome {
    color: #222;
  }
  
  .top-image {
    @include grid-column(6);
  }
}

@media #{$large-up} {
  .top-image {
    @include grid-column(3);
  }
}