/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2015, 8:00:26 PM
    Author     : petrero
*/

@import 'config';
@import 'normalize';
@import 'foundation';


#header,
#main {
  @include grid-row();
}

.welcome-box {
  @include grid-column(12);
}


.top-image {
  @include grid-column(12);
}

.top-banner {
  @include grid-column(12);
}

#top-bar {
  @extend .hide-for-medium-up;
}

#desktop-top-bar {
  @extend .hide-for-small-only;
}

.services {
  @include grid-row;
}

.services.navigation {
  @include grid-column(3);
  @extend .hide-for-small;
}

.services.navigation.list {
  @include side-nav;
}

.services.content {
  @include grid-column(12);
}

.services.pricing-table {
  @include grid-column(
    $columns: 12,
    $collapse: true 
  );
}

.services.corporate {
  @include accordion-container;
  
  .services.corporate.title {
    @include accordion-navigation;
  }
  
  .services.corporate.content {
    @include accordion-content;
  }
}

.contacts {
  @include grid-row;
}

.about {
  @include grid-row;
}

@media #{$medium-up} {
  
  .top-image {
    @include grid-column(6);
  }
  
  .services.content {
    @include grid-column(9);
  }
}

@media #{$large-up} {
  .top-image {
    @include grid-column(3);
  }
  
  .services.pricing-table {  
    @include grid-column(
       $columns: 4,
       $collapse: true
    )
  }
}